.ems-notice.ems-shortcode {
    background-color: #1d2dfd;
    border: 0;
    padding: 0 25px;;
}
.ems-notice.ems-shortcode h2 {
    font-family: 'inconsolata';
    font-weight: 700;
    font-size: 28px;
    color: #fff;
}
.ems-notice.ems-shortcode .notice-dismiss:before {
    color: #fff;
}
.ems-notice.ems-shortcode .col-left {
    float: left;
}
.ems-notice.ems-shortcode .col-right {
    float: right;
}
.ems-notice.ems-shortcode:after {
    content: '';
    display: block;
    clear: both;
}
.ems-notice.ems-shortcode .ems-btn {
    display: inline-block;
    background-color: #fff;
    font-family: 'inconsolata';
    font-weight: 700;
    font-size: 18px;
    color: #043785;
    padding: 10px 15px;
    margin-top: 16px;
    text-decoration: none;
}